p {
    font-size: 18px;
    color: #ccc;
    margin: 15px;
}

.box {
    background-color: #222;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.text-style {
    color: #00ffcc;
    font-weight: bold;
    margin: 20px;
}

.special-title {
    color: red;
    font-size: 36px;
    text-transform: uppercase;
}